#cardsPane {
    -fx-pref-height:800;
    -fx-background-image: url("shop.jpg");
    -fx-background-size: auto, auto;
}

#scrollPane {
    -fx-pref-width:1200;
    -fx-pref-height:800;
}

#grid {
    -fx-padding: 50 40 50 85;
    -fx-hgap: 110;
    -fx-vgap: 150;
    -fx-pref-width:1200;
}

.equipSelectedCard {
    -fx-effect: dropshadow(three-pass-box, green, 30, 0.5, 0, 0);
}


/***** Map ****/
.bottomButton {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    /*-fx-background-image: url("noroad.png"); */
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
}

#rootPane {
    -fx-background-image: url("/roads/noroad.png");
    -fx-background-size: 200, 200;
    -fx-pref-width:1200;
    -fx-pref-height:800;
}

#bottomRngPane {
    -fx-pref-width:500;
    -fx-pref-height:100;
    -fx-border-image-source: url("margin.png");
    -fx-border-image-repeat: stretch, stretch;
    -fx-border-image-repeat: stretch, stretch;
    -fx-border-image-width: 5, 20;
    -fx-border-image-slice: 25, 30;
}

.life {
    -fx-pref-width: 200;
    -fx-accent: green;
}
