.common {
   -fx-pref-width: 1200px;
   -fx-pref-height: 800px;
}





/************MAIN STAGE STYLE ********************/

#mainPane {
    -fx-background-image: url("images/mainBackground.jpg");
    -fx-background-size: 1200 800;
    -fx-background-repeat: stretch;
}

#title {
   -fx-text-fill: "white";
   -fx-font-size: 100px;
   -fx-font-family: "Helvetica";
}

#playButton {
  -fx-pref-width: 150px;
  -fx-pref-height: 60px;
  -fx-opacity: 0;
  -fx-cursor: hand
}


/**********BATTLE STAGE STYLE ***************/
#battleScene {
   -fx-background-image: url("images/battleBackground.jpg");
   -fx-background-size: 1200 800;
   -fx-background-repeat: stretch;
}

.card {
   -fx-background-size: 170 240;
   -fx-pref-width:170;
   -fx-pref-height:240;
   -fx-background-color: "white";
    -fx-cursor: hand
}

.cardIndicator {
    -fx-background-color: transparent;
    -fx-border-color: black ;
    -fx-border-width: 5 ;
    -fx-font-size: 16px;
    -fx-text-fill: "white";
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round;
   -fx-background-size: 170 240;
   -fx-pref-width:170;
   -fx-pref-height:240;
    -fx-opacity: 0.4;
}

#battleField {
  -fx-pref-width: 820px;
  -fx-pref-height: 500px;
}

.life {
  -fx-pref-width: 250;
  -fx-pref-height: 27;
  -fx-accent: green;
}

.image {
   -fx-pref-width: 300;
   -fx-pref-height: 300;
   -fx-background-size: 300 300;
   -fx-background-color:transparent;
}

.shield {
   -fx-pref-width: 400;
   -fx-pref-height: 400;
   -fx-background-size: 400 400;
   -fx-background-color:transparent;
   -fx-background-image: url("images/shield.png");
   -fx-opacity: 0
}

.title {
    -fx-text-fill: "black";
    -fx-font-size: 18px;
}
