/***IMPORT FONTS***/

@font-face {
    font-family: "Great-Vibes";
    src: url("./font/GreatVibes-Regular.otf");
}

/****************/

.common {
   -fx-pref-width: 1200px;
   -fx-pref-height: 800px;
}

/************MAIN STAGE STYLE ********************/

.mainPane {
    -fx-background-image: url("images/mainBackground.jpg");
    -fx-background-size: 1200 800;
    -fx-background-repeat: stretch;
}

.mainPageButton {
  -fx-pref-width: 200px;
  -fx-pref-height: 150px;
  -fx-background-size: 200 150;
  -fx-background-image: url("images/parchment.png");
  -fx-cursor: hand;
  -fx-font-size: 20px;
  -fx-background-color: transparent;
}


/**********BATTLE STAGE STYLE ***************/
.battleScene {
   -fx-background-image: url("images/battleBackground.jpg");
   -fx-background-size: 1200 800;
   -fx-background-repeat: stretch;
}

.deck {
   -fx-background-image: url("images/deckImage.jpg");
}

.card {
   -fx-background-size: 170 240;
   -fx-pref-width:170;
   -fx-pref-height:240;
   -fx-background-color: transparent;
   -fx-cursor: hand
}

.cardIndicator {
    -fx-background-color: transparent;
    -fx-border-color: black ;
    -fx-border-width: 5 ;
    -fx-font-size: 16px;
    -fx-text-fill: "white";
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round;
   -fx-background-size: 170 240;
   -fx-pref-width:170;
   -fx-pref-height:240;
    -fx-opacity: 0.4;
}

#battleField {
  -fx-pref-width: 820px;
  -fx-pref-height: 500px;
}

.life {
  -fx-pref-width: 250;
  -fx-pref-height: 27;
  -fx-accent: green;
}

.image {
   -fx-pref-width: 300;
   -fx-pref-height: 300;
   -fx-background-size: 300 300;
   -fx-background-color:transparent;
}

.magicShield {
   -fx-pref-width: 400;
   -fx-pref-height: 400;
   -fx-background-size: 400 400;
   -fx-background-color:transparent;
   -fx-background-image: url('images/shield.png');
   -fx-opacity: 0;
}

.physicShield {
   -fx-pref-width: 150;
   -fx-pref-height: 150;
   -fx-background-size: 150 150;
   -fx-background-color:transparent;
   -fx-opacity: 0;
}

.magicAttack {
   -fx-background-image: url("images/magicAttackAnimation.png");
   -fx-pref-width: 200;
   -fx-pref-height: 200;
   -fx-background-size: 200 200;
   -fx-background-color:transparent;
   -fx-opacity: 0
}

.title {
    -fx-text-fill: "black";
    -fx-font-size: 18px;
    -fx-font-family: "Great-Vibes";
}
/****REWARD SCENE*****/
.rewardTitle {
   -fx-font-size: 100px;
   -fx-font-family: "Great-Vibes";
   -fx-text-fill: "white"
}
/***************/

/*****GAME OVER SCENE******/
.brokenHeart {
  -fx-background-image: url("images/brokenHeart.png");
  -fx-background-color:transparent;
  -fx-pref-width: 100;
  -fx-pref-height: 100;
  -fx-background-size: 100 100;
}

.anubiDefeated {
  -fx-background-image: url("images/anubiDefeated.png");
  -fx-background-color:transparent;
  -fx-pref-width: 250;
  -fx-pref-height: 250;
  -fx-background-size: 250 250;
}

/***************/
